[Unit]
Description=MON3D
After=network-online.target

[Service]
Type=oneshot
ExecStart=/mon3d/boot/mon3d_init.sh

[Install]
WantedBy=multi-usert.target
